@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,body {
		margin: 0;
		width: 100%;
		height: 100%;
        font-family: 'Inter';   
	}


@custom-variant dark (&:where(.dark, .dark *));
