---

import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import ProyectsList from '../components/Proyects.astro';
import Scroll from '../components/Scroll.astro';
import Footer from '../components/footer.astro';
import Header from '../components/Header.astro';
---

<Layout>
	<Container>
		<Header visibleMenu={false}/>
		<div class="flex flex-row my-4">
			<svg xmlns="http://www.w3.org/2000/svg" class="size-7" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>	
			<a class="text-xl" href="/#proyects">Volver</a>
		</div>
        <ProyectsList size={100} />
		<Scroll/>
        <Footer/>
	</Container>
</Layout>